{% extends "base.html.twig" %}

{% block title %}AppBundle:Feedback:new{% endblock %}

{% block body %}
<h1>Welcome to the Feedback:new page</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
